presupuesto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="solicitudPresupuesto">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="cliente">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="email" type="xs:string"/>
              <xs:element name="telefono" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="detallesTecnicos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="servicio">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="pantalla"/>
                    <xs:enumeration value="bateria"/>
                    <xs:enumeration value="reparacion_placa"/>
                    <xs:enumeration value="recuperacion_datos"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="descripcion" type="xs:string"/>
              <xs:element name="fechaSolicitud" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 
